<!doctype html>

<html>

<head>
  <title>Datastore and Firebase Auth Example</title>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="https://www.gstatic.com/firebasejs/9.13.0/firebase-app-compat.js"></script>
  <script src="https://www.gstatic.com/firebasejs/9.13.0/firebase-auth-compat.js"></script>
  <!-- [START gae_python38_auth_include_firebaseui] -->
  <script src="https://www.gstatic.com/firebasejs/ui/6.0.1/firebase-ui-auth.js"></script>
  <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/6.0.1/firebase-ui-auth.css" />
  <!-- [END gae_python38_auth_include_firebaseui] -->
  <script>
    import { initializeApp } from "firebase/app";
    import { getAnalytics } from "firebase/analytics";
    const firebaseConfig = {
      apiKey: "AIzaSyBHbqT9g6gx5zbruBhWckxvl9oN4Z9rNCQ",
      authDomain: "assignment2csp.firebaseapp.com",
      projectId: "assignment2csp",
      storageBucket: "assignment2csp.appspot.com",
      messagingSenderId: "232304836058",
      appId: "1:232304836058:web:2c12a035569a463d27d4e3",
      measurementId: "G-B03JPLMP9N"
    };
    const app = initializeApp(firebaseConfig);
    const analytics = getAnalytics(app);

    if (typeof firebase === 'undefined') {
      const msg = "Please provide your Firebase configuration details. See instructions in templates/index.html.";
      console.log(msg);
      alert(msg);
    }
  </script>
</head>

<body>

  <h1>Datastore and Firebase Auth Example</h1>

  <div id="firebase-auth-container"></div>

  <button id="sign-out" hidden="true">Sign out</button>

  <div id="login-info" hidden="true">
    <h2>Login Info</h2>
    {% if user_data %}
    <dl>
      <dt>Name:</dt>
      <dd>{{ user_data['name'] }}</dd>
      <dt>Email:</dt>
      <dd>{{ user_data['email'] }}</dd>
    </dl>
    <form action="/add_directory" method="post">
      Directory Name: <input type="text" name="dir_name" /><input type="submit" />
    </form>
    <br>
    <form action="/upload_file" method="post" enctype="multipart/form-data">
      <label for="dir_name">Upload Directory</label>
      <input type="text" name="dir_name" id="dir_name" placeholder="Directory name to upload file on" />
      <br>
      Upload File: <input type="file" name="file_name" />
      <input type="submit" />
    </form>
    <br>

    <h1>List of directories</h1><br />
    {% for i in directory_list %}
    {{ i.name }}<br />
    {% endfor %}
    <div class="file-grid">
      {% for file in files %}
      <div class="file-item">
        <a href="{{ url_for('addDirectoryHandler', filename=file) }}">{{ file }}</a>
      </div>
      {% endfor %}
    </div>
    <br>
    <h1>List of files for download</h1><br />
    {% for i in file_list %}
    <form action="/download_file/{{ i.name }}" method="post">
      {{ i.name }}<input type="submit" /><br />
    </form>
    <br>
    <form action="/share_file/{{ i.name }}" method="post">
      <input type="text" name="email" placeholder="Enter email address" />
      <input type="submit" value="Share" />
    </form>
    <br>
    <form method="POST" action="/delete_file/{{i.name}}">
      {{ i.name }}<button type="submit">Delete File</button>

    </form>
    {% block content %}
    <br>
    <h1>Shared Documents</h1>
    <ul>
      {% for doc in shared_docs %}
      <li><a href="{{ url_for('shareFileHandler', filename=doc['filename']) }}">{{ doc['filename'] }}</a></li>
      {% endfor %}
    </ul>
    {% endblock %}
    {% endfor %}
    {% elif error_message %}
    <p>Error Message: {{ error_message }}</p>
    {% endif %}
  </div>

  <script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.8.0/firebase-auth.js"></script>
  <script src="{{ url_for('static', filename='app-setup.js') }}"></script>

  <style>
    .file-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 20px;
    }

    .file-item {
      background-color: #f0f0f0;
      padding: 10px;
      border-radius: 5px;
      text-align: center;
    }
  </style>
</body>

</html>